
body{
  background: radial-gradient(circle at top, #1a0000, #0b0b0b);
  color:white;
  font-family:Arial;
}

.topbar{
  text-align:center;
  padding:20px;
  font-size:20px;
  letter-spacing:5px;
  border-bottom:1px solid red;
}

.feed{
  max-width:750px;
  margin:auto;
  padding:20px;
}

.create-post{
  background:#141414;
  padding:15px;
  border-radius:12px;
  margin-bottom:20px;
  border:1px solid #2a0000;
}

input, textarea{
  width:100%;
  margin:6px 0;
  padding:10px;
  background:#1f1f1f;
  color:white;
  border:none;
  border-radius:6px;
}

button{
  background:red;
  color:white;
  border:none;
  padding:8px;
  margin-top:5px;
  cursor:pointer;
  border-radius:6px;
}

.post{
  background:#151515;
  padding:15px;
  margin-bottom:15px;
  border-left:3px solid red;
  border-radius:8px;
}

.postHeader{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.actions{
  margin-top:10px;
}

.reply{
  font-size:14px;
  opacity:0.8;
  margin-top:5px;
}