
body{
  margin:0;
  font-family:Arial;
  background: radial-gradient(circle at top, #1a0000, #000);
  color:white;
}

/* HEADER */
.topbar{
  text-align:center;
  padding:20px;
  font-size:22px;
  letter-spacing:6px;
  color:red;
  border-bottom:1px solid #300;
}

/* CONTENEDOR */
.feed{
  max-width:800px;
  margin:auto;
  padding:20px;
}

/* FORMULARIO */
.create-post{
  background:#111;
  padding:15px;
  border-radius:10px;
  border:1px solid #300;
  margin-bottom:20px;
}

input, textarea{
  width:100%;
  padding:10px;
  margin:5px 0;
  background:#1a1a1a;
  border:none;
  color:white;
}

/* BOTÓN */
button{
  width:100%;
  padding:10px;
  margin-top:5px;
  background:red;
  border:none;
  color:white;
  cursor:pointer;
}

/* POST */
.post{
  background:#151515;
  padding:15px;
  margin-bottom:15px;
  border-left:3px solid red;
  border-radius:8px;
}

/* RESPUESTAS */
.reply{
  font-size:13px;
  opacity:0.8;
  margin-top:5px;
  padding-left:10px;
  border-left:1px solid #500;
}